@using MVCConsumeWCF.EmployeeService
@model Employee

@{
    ViewData["Title"] = "Create Employee";
}
<div>
    <h4>Create Employee</h4>
    <hr />
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Create">
            <div class="form-group mb-2">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group mb-5">
                <label>Salary</label>
                <input type="text" class="form-control" name="salary">
            </div>
            <button class="btn btn-success" type="submit">Create Employee</button>
            <a class="btn btn-success" href='@Url.Action("Index", "Employee")'>Back to List</a>
        </form>
    </div>
</div>